.emojify.sunny { .background(sunny); background-size: @emoji-size; }
.emojify.umbrella { .background(umbrella); background-size: @emoji-size; }
.emojify.cloud { .background(cloud); background-size: @emoji-size; }
.emojify.snowflake { .background(snowflake); background-size: @emoji-size; }
.emojify.snowman { .background(snowman); background-size: @emoji-size; }
.emojify.zap { .background(zap); background-size: @emoji-size; }
.emojify.cyclone { .background(cyclone); background-size: @emoji-size; }
.emojify.foggy { .background(foggy); background-size: @emoji-size; }
.emojify.ocean { .background(ocean); background-size: @emoji-size; }
.emojify.cat { .background(cat); background-size: @emoji-size; }
.emojify.dog { .background(dog); background-size: @emoji-size; }
.emojify.mouse { .background(mouse); background-size: @emoji-size; }
.emojify.hamster { .background(hamster); background-size: @emoji-size; }
.emojify.rabbit { .background(rabbit); background-size: @emoji-size; }
.emojify.wolf { .background(wolf); background-size: @emoji-size; }
.emojify.frog { .background(frog); background-size: @emoji-size; }
.emojify.tiger { .background(tiger); background-size: @emoji-size; }
.emojify.koala { .background(koala); background-size: @emoji-size; }
.emojify.bear { .background(bear); background-size: @emoji-size; }
.emojify.pig { .background(pig); background-size: @emoji-size; }
.emojify.pig_nose { .background(pig_nose); background-size: @emoji-size; }
.emojify.cow { .background(cow); background-size: @emoji-size; }
.emojify.boar { .background(boar); background-size: @emoji-size; }
.emojify.monkey_face { .background(monkey_face); background-size: @emoji-size; }
.emojify.monkey { .background(monkey); background-size: @emoji-size; }
.emojify.horse { .background(horse); background-size: @emoji-size; }
.emojify.racehorse { .background(racehorse); background-size: @emoji-size; }
.emojify.camel { .background(camel); background-size: @emoji-size; }
.emojify.sheep { .background(sheep); background-size: @emoji-size; }
.emojify.elephant { .background(elephant); background-size: @emoji-size; }
.emojify.panda_face { .background(panda_face); background-size: @emoji-size; }
.emojify.snake { .background(snake); background-size: @emoji-size; }
.emojify.bird { .background(bird); background-size: @emoji-size; }
.emojify.baby_chick { .background(baby_chick); background-size: @emoji-size; }
.emojify.hatched_chick { .background(hatched_chick); background-size: @emoji-size; }
.emojify.hatching_chick { .background(hatching_chick); background-size: @emoji-size; }
.emojify.chicken { .background(chicken); background-size: @emoji-size; }
.emojify.penguin { .background(penguin); background-size: @emoji-size; }
.emojify.turtle { .background(turtle); background-size: @emoji-size; }
.emojify.bug { .background(bug); background-size: @emoji-size; }
.emojify.honeybee { .background(honeybee); background-size: @emoji-size; }
.emojify.ant { .background(ant); background-size: @emoji-size; }
.emojify.beetle { .background(beetle); background-size: @emoji-size; }
.emojify.snail { .background(snail); background-size: @emoji-size; }
.emojify.octopus { .background(octopus); background-size: @emoji-size; }
.emojify.tropical_fish { .background(tropical_fish); background-size: @emoji-size; }
.emojify.fish { .background(fish); background-size: @emoji-size; }
.emojify.whale { .background(whale); background-size: @emoji-size; }
.emojify.whale2 { .background(whale2); background-size: @emoji-size; }
.emojify.dolphin { .background(dolphin); background-size: @emoji-size; }
.emojify.cow2 { .background(cow2); background-size: @emoji-size; }
.emojify.ram { .background(ram); background-size: @emoji-size; }
.emojify.rat { .background(rat); background-size: @emoji-size; }
.emojify.water_buffalo { .background(water_buffalo); background-size: @emoji-size; }
.emojify.tiger2 { .background(tiger2); background-size: @emoji-size; }
.emojify.rabbit2 { .background(rabbit2); background-size: @emoji-size; }
.emojify.dragon { .background(dragon); background-size: @emoji-size; }
.emojify.goat { .background(goat); background-size: @emoji-size; }
.emojify.rooster { .background(rooster); background-size: @emoji-size; }
.emojify.dog2 { .background(dog2); background-size: @emoji-size; }
.emojify.pig2 { .background(pig2); background-size: @emoji-size; }
.emojify.mouse2 { .background(mouse2); background-size: @emoji-size; }
.emojify.ox { .background(ox); background-size: @emoji-size; }
.emojify.dragon_face { .background(dragon_face); background-size: @emoji-size; }
.emojify.blowfish { .background(blowfish); background-size: @emoji-size; }
.emojify.crocodile { .background(crocodile); background-size: @emoji-size; }
.emojify.dromedary_camel { .background(dromedary_camel); background-size: @emoji-size; }
.emojify.leopard { .background(leopard); background-size: @emoji-size; }
.emojify.cat2 { .background(cat2); background-size: @emoji-size; }
.emojify.poodle { .background(poodle); background-size: @emoji-size; }
.emojify.paw_prints { .background(paw_prints); background-size: @emoji-size; }
.emojify.bouquet { .background(bouquet); background-size: @emoji-size; }
.emojify.cherry_blossom { .background(cherry_blossom); background-size: @emoji-size; }
.emojify.tulip { .background(tulip); background-size: @emoji-size; }
.emojify.four_leaf_clover { .background(four_leaf_clover); background-size: @emoji-size; }
.emojify.rose { .background(rose); background-size: @emoji-size; }
.emojify.sunflower { .background(sunflower); background-size: @emoji-size; }
.emojify.hibiscus { .background(hibiscus); background-size: @emoji-size; }
.emojify.maple_leaf { .background(maple_leaf); background-size: @emoji-size; }
.emojify.leaves { .background(leaves); background-size: @emoji-size; }
.emojify.fallen_leaf { .background(fallen_leaf); background-size: @emoji-size; }
.emojify.herb { .background(herb); background-size: @emoji-size; }
.emojify.mushroom { .background(mushroom); background-size: @emoji-size; }
.emojify.cactus { .background(cactus); background-size: @emoji-size; }
.emojify.palm_tree { .background(palm_tree); background-size: @emoji-size; }
.emojify.evergreen_tree { .background(evergreen_tree); background-size: @emoji-size; }
.emojify.deciduous_tree { .background(deciduous_tree); background-size: @emoji-size; }
.emojify.chestnut { .background(chestnut); background-size: @emoji-size; }
.emojify.seedling { .background(seedling); background-size: @emoji-size; }
.emojify.blossom { .background(blossom); background-size: @emoji-size; }
.emojify.ear_of_rice { .background(ear_of_rice); background-size: @emoji-size; }
.emojify.shell { .background(shell); background-size: @emoji-size; }
.emojify.globe_with_meridians { .background(globe_with_meridians); background-size: @emoji-size; }
.emojify.sun_with_face { .background(sun_with_face); background-size: @emoji-size; }
.emojify.full_moon_with_face { .background(full_moon_with_face); background-size: @emoji-size; }
.emojify.new_moon_with_face { .background(new_moon_with_face); background-size: @emoji-size; }
.emojify.new_moon { .background(new_moon); background-size: @emoji-size; }
.emojify.waxing_crescent_moon { .background(waxing_crescent_moon); background-size: @emoji-size; }
.emojify.first_quarter_moon { .background(first_quarter_moon); background-size: @emoji-size; }
.emojify.waxing_gibbous_moon { .background(waxing_gibbous_moon); background-size: @emoji-size; }
.emojify.full_moon { .background(full_moon); background-size: @emoji-size; }
.emojify.waning_gibbous_moon { .background(waning_gibbous_moon); background-size: @emoji-size; }
.emojify.last_quarter_moon { .background(last_quarter_moon); background-size: @emoji-size; }
.emojify.waning_crescent_moon { .background(waning_crescent_moon); background-size: @emoji-size; }
.emojify.last_quarter_moon_with_face { .background(last_quarter_moon_with_face); background-size: @emoji-size; }
.emojify.first_quarter_moon_with_face { .background(first_quarter_moon_with_face); background-size: @emoji-size; }
.emojify.moon { .background(moon); background-size: @emoji-size; }
.emojify.earth_africa { .background(earth_africa); background-size: @emoji-size; }
.emojify.earth_americas { .background(earth_americas); background-size: @emoji-size; }
.emojify.earth_asia { .background(earth_asia); background-size: @emoji-size; }
.emojify.volcano { .background(volcano); background-size: @emoji-size; }
.emojify.milky_way { .background(milky_way); background-size: @emoji-size; }
.emojify.partly_sunny { .background(partly_sunny); background-size: @emoji-size; }
.emojify.octocat { .background(octocat); background-size: @emoji-size; }
.emojify.squirrel { .background(squirrel); background-size: @emoji-size; }