.emojify.one { background: url(../emojis/one.png) no-repeat; background-size: @emoji-size; }
.emojify.two { background: url(../emojis/two.png) no-repeat; background-size: @emoji-size; }
.emojify.three { background: url(../emojis/three.png) no-repeat; background-size: @emoji-size; }
.emojify.four { background: url(../emojis/four.png) no-repeat; background-size: @emoji-size; }
.emojify.five { background: url(../emojis/five.png) no-repeat; background-size: @emoji-size; }
.emojify.six { background: url(../emojis/six.png) no-repeat; background-size: @emoji-size; }
.emojify.seven { background: url(../emojis/seven.png) no-repeat; background-size: @emoji-size; }
.emojify.eight { background: url(../emojis/eight.png) no-repeat; background-size: @emoji-size; }
.emojify.nine { background: url(../emojis/nine.png) no-repeat; background-size: @emoji-size; }
.emojify.keycap_ten { background: url(../emojis/keycap_ten.png) no-repeat; background-size: @emoji-size; }
.emojify.onetwothreefour { background: url(../emojis/1234.png) no-repeat; background-size: @emoji-size; }
.emojify.zero { background: url(../emojis/zero.png) no-repeat; background-size: @emoji-size; }
.emojify.hash { background: url(../emojis/hash.png) no-repeat; background-size: @emoji-size; }
.emojify.symbols { background: url(../emojis/symbols.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_backward { background: url(../emojis/arrow_backward.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_down { background: url(../emojis/arrow_down.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_forward { background: url(../emojis/arrow_forward.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_left { background: url(../emojis/arrow_left.png) no-repeat; background-size: @emoji-size; }
.emojify.capital_abcd { background: url(../emojis/capital_abcd.png) no-repeat; background-size: @emoji-size; }
.emojify.abcd { background: url(../emojis/abcd.png) no-repeat; background-size: @emoji-size; }
.emojify.abc { background: url(../emojis/abc.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_lower_left { background: url(../emojis/arrow_lower_left.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_lower_right { background: url(../emojis/arrow_lower_right.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_right { background: url(../emojis/arrow_right.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_up { background: url(../emojis/arrow_up.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_upper_left { background: url(../emojis/arrow_upper_left.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_upper_right { background: url(../emojis/arrow_upper_right.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_double_down { background: url(../emojis/arrow_double_down.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_double_up { background: url(../emojis/arrow_double_up.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_down_small { background: url(../emojis/arrow_down_small.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_heading_down { background: url(../emojis/arrow_heading_down.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_heading_up { background: url(../emojis/arrow_heading_up.png) no-repeat; background-size: @emoji-size; }
.emojify.leftwards_arrow_with_hook { background: url(../emojis/leftwards_arrow_with_hook.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_right_hook { background: url(../emojis/arrow_right_hook.png) no-repeat; background-size: @emoji-size; }
.emojify.left_right_arrow { background: url(../emojis/left_right_arrow.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_up_down { background: url(../emojis/arrow_up_down.png) no-repeat; background-size: @emoji-size; }
.emojify.arrow_up_small { background: url(../emojis/arrow_up_small.png) no-repeat; background-size: @emoji-size; }
.emojify.arrows_clockwise { background: url(../emojis/arrows_clockwise.png) no-repeat; background-size: @emoji-size; }
.emojify.arrows_counterclockwise { background: url(../emojis/arrows_counterclockwise.png) no-repeat; background-size: @emoji-size; }
.emojify.rewind { background: url(../emojis/rewind.png) no-repeat; background-size: @emoji-size; }
.emojify.fast_forward { background: url(../emojis/fast_forward.png) no-repeat; background-size: @emoji-size; }
.emojify.information_source { background: url(../emojis/information_source.png) no-repeat; background-size: @emoji-size; }
.emojify.ok { background: url(../emojis/ok.png) no-repeat; background-size: @emoji-size; }
.emojify.twisted_rightwards_arrows { background: url(../emojis/twisted_rightwards_arrows.png) no-repeat; background-size: @emoji-size; }
.emojify.repeat { background: url(../emojis/repeat.png) no-repeat; background-size: @emoji-size; }
.emojify.repeat_one { background: url(../emojis/repeat_one.png) no-repeat; background-size: @emoji-size; }
.emojify.new { background: url(../emojis/new.png) no-repeat; background-size: @emoji-size; }
.emojify.top { background: url(../emojis/top.png) no-repeat; background-size: @emoji-size; }
.emojify.up { background: url(../emojis/up.png) no-repeat; background-size: @emoji-size; }
.emojify.cool { background: url(../emojis/cool.png) no-repeat; background-size: @emoji-size; }
.emojify.free { background: url(../emojis/free.png) no-repeat; background-size: @emoji-size; }
.emojify.ng { background: url(../emojis/ng.png) no-repeat; background-size: @emoji-size; }
.emojify.cinema { background: url(../emojis/cinema.png) no-repeat; background-size: @emoji-size; }
.emojify.koko { background: url(../emojis/koko.png) no-repeat; background-size: @emoji-size; }
.emojify.signal_strength { background: url(../emojis/signal_strength.png) no-repeat; background-size: @emoji-size; }
.emojify.u5272 { background: url(../emojis/u5272.png) no-repeat; background-size: @emoji-size; }
.emojify.u5408 { background: url(../emojis/u5408.png) no-repeat; background-size: @emoji-size; }
.emojify.u55b6 { background: url(../emojis/u55b6.png) no-repeat; background-size: @emoji-size; }
.emojify.u6307 { background: url(../emojis/u6307.png) no-repeat; background-size: @emoji-size; }
.emojify.u6708 { background: url(../emojis/u6708.png) no-repeat; background-size: @emoji-size; }
.emojify.u6709 { background: url(../emojis/u6709.png) no-repeat; background-size: @emoji-size; }
.emojify.u6e80 { background: url(../emojis/u6e80.png) no-repeat; background-size: @emoji-size; }
.emojify.u7121 { background: url(../emojis/u7121.png) no-repeat; background-size: @emoji-size; }
.emojify.u7533 { background: url(../emojis/u7533.png) no-repeat; background-size: @emoji-size; }
.emojify.u7a7a { background: url(../emojis/u7a7a.png) no-repeat; background-size: @emoji-size; }
.emojify.u7981 { background: url(../emojis/u7981.png) no-repeat; background-size: @emoji-size; }
.emojify.sa { background: url(../emojis/sa.png) no-repeat; background-size: @emoji-size; }
.emojify.restroom { background: url(../emojis/restroom.png) no-repeat; background-size: @emoji-size; }
.emojify.mens { background: url(../emojis/mens.png) no-repeat; background-size: @emoji-size; }
.emojify.womens { background: url(../emojis/womens.png) no-repeat; background-size: @emoji-size; }
.emojify.baby_symbol { background: url(../emojis/baby_symbol.png) no-repeat; background-size: @emoji-size; }
.emojify.no_smoking { background: url(../emojis/no_smoking.png) no-repeat; background-size: @emoji-size; }
.emojify.parking { background: url(../emojis/parking.png) no-repeat; background-size: @emoji-size; }
.emojify.wheelchair { background: url(../emojis/wheelchair.png) no-repeat; background-size: @emoji-size; }
.emojify.metro { background: url(../emojis/metro.png) no-repeat; background-size: @emoji-size; }
.emojify.baggage_claim { background: url(../emojis/baggage_claim.png) no-repeat; background-size: @emoji-size; }
.emojify.accept { background: url(../emojis/accept.png) no-repeat; background-size: @emoji-size; }
.emojify.wc { background: url(../emojis/wc.png) no-repeat; background-size: @emoji-size; }
.emojify.potable_water { background: url(../emojis/potable_water.png) no-repeat; background-size: @emoji-size; }
.emojify.put_litter_in_its_place { background: url(../emojis/put_litter_in_its_place.png) no-repeat; background-size: @emoji-size; }
.emojify.secret { background: url(../emojis/secret.png) no-repeat; background-size: @emoji-size; }
.emojify.congratulations { background: url(../emojis/congratulations.png) no-repeat; background-size: @emoji-size; }
.emojify.m { background: url(../emojis/m.png) no-repeat; background-size: @emoji-size; }
.emojify.passport_control { background: url(../emojis/passport_control.png) no-repeat; background-size: @emoji-size; }
.emojify.left_luggage { background: url(../emojis/left_luggage.png) no-repeat; background-size: @emoji-size; }
.emojify.customs { background: url(../emojis/customs.png) no-repeat; background-size: @emoji-size; }
.emojify.ideograph_advantage { background: url(../emojis/ideograph_advantage.png) no-repeat; background-size: @emoji-size; }
.emojify.cl { background: url(../emojis/cl.png) no-repeat; background-size: @emoji-size; }
.emojify.sos { background: url(../emojis/sos.png) no-repeat; background-size: @emoji-size; }
.emojify.id { background: url(../emojis/id.png) no-repeat; background-size: @emoji-size; }
.emojify.no_entry_sign { background: url(../emojis/no_entry_sign.png) no-repeat; background-size: @emoji-size; }
.emojify.underage { background: url(../emojis/underage.png) no-repeat; background-size: @emoji-size; }
.emojify.no_mobile_phones { background: url(../emojis/no_mobile_phones.png) no-repeat; background-size: @emoji-size; }
.emojify.do_not_litter { background: url(../emojis/do_not_litter.png) no-repeat; background-size: @emoji-size; }
.emojify.non-potable_water { background: url(../emojis/non-potable_water.png) no-repeat; background-size: @emoji-size; }
.emojify.no_bicycles { background: url(../emojis/no_bicycles.png) no-repeat; background-size: @emoji-size; }
.emojify.no_pedestrians { background: url(../emojis/no_pedestrians.png) no-repeat; background-size: @emoji-size; }
.emojify.children_crossing { background: url(../emojis/children_crossing.png) no-repeat; background-size: @emoji-size; }
.emojify.no_entry { background: url(../emojis/no_entry.png) no-repeat; background-size: @emoji-size; }
.emojify.eight_spoked_asterisk { background: url(../emojis/eight_spoked_asterisk.png) no-repeat; background-size: @emoji-size; }
.emojify.eight_pointed_black_star { background: url(../emojis/eight_pointed_black_star.png) no-repeat; background-size: @emoji-size; }
.emojify.heart_decoration { background: url(../emojis/heart_decoration.png) no-repeat; background-size: @emoji-size; }
.emojify.vs { background: url(../emojis/vs.png) no-repeat; background-size: @emoji-size; }
.emojify.vibration_mode { background: url(../emojis/vibration_mode.png) no-repeat; background-size: @emoji-size; }
.emojify.mobile_phone_off { background: url(../emojis/mobile_phone_off.png) no-repeat; background-size: @emoji-size; }
.emojify.chart { background: url(../emojis/chart.png) no-repeat; background-size: @emoji-size; }
.emojify.currency_exchange { background: url(../emojis/currency_exchange.png) no-repeat; background-size: @emoji-size; }
.emojify.aries { background: url(../emojis/aries.png) no-repeat; background-size: @emoji-size; }
.emojify.taurus { background: url(../emojis/taurus.png) no-repeat; background-size: @emoji-size; }
.emojify.gemini { background: url(../emojis/gemini.png) no-repeat; background-size: @emoji-size; }
.emojify.cancer { background: url(../emojis/cancer.png) no-repeat; background-size: @emoji-size; }
.emojify.leo { background: url(../emojis/leo.png) no-repeat; background-size: @emoji-size; }
.emojify.virgo { background: url(../emojis/virgo.png) no-repeat; background-size: @emoji-size; }
.emojify.libra { background: url(../emojis/libra.png) no-repeat; background-size: @emoji-size; }
.emojify.scorpius { background: url(../emojis/scorpius.png) no-repeat; background-size: @emoji-size; }
.emojify.sagittarius { background: url(../emojis/sagittarius.png) no-repeat; background-size: @emoji-size; }
.emojify.capricorn { background: url(../emojis/capricorn.png) no-repeat; background-size: @emoji-size; }
.emojify.aquarius { background: url(../emojis/aquarius.png) no-repeat; background-size: @emoji-size; }
.emojify.pisces { background: url(../emojis/pisces.png) no-repeat; background-size: @emoji-size; }
.emojify.ophiuchus { background: url(../emojis/ophiuchus.png) no-repeat; background-size: @emoji-size; }
.emojify.six_pointed_star { background: url(../emojis/six_pointed_star.png) no-repeat; background-size: @emoji-size; }
.emojify.negative_squared_cross_mark { background: url(../emojis/negative_squared_cross_mark.png) no-repeat; background-size: @emoji-size; }
.emojify.a { background: url(../emojis/a.png) no-repeat; background-size: @emoji-size; }
.emojify.b { background: url(../emojis/b.png) no-repeat; background-size: @emoji-size; }
.emojify.ab { background: url(../emojis/ab.png) no-repeat; background-size: @emoji-size; }
.emojify.o2 { background: url(../emojis/o2.png) no-repeat; background-size: @emoji-size; }
.emojify.diamond_shape_with_a_dot_inside { background: url(../emojis/diamond_shape_with_a_dot_inside.png) no-repeat; background-size: @emoji-size; }
.emojify.recycle { background: url(../emojis/recycle.png) no-repeat; background-size: @emoji-size; }
.emojify.end { background: url(../emojis/end.png) no-repeat; background-size: @emoji-size; }
.emojify.on { background: url(../emojis/on.png) no-repeat; background-size: @emoji-size; }
.emojify.soon { background: url(../emojis/soon.png) no-repeat; background-size: @emoji-size; }
.emojify.clock1 { background: url(../emojis/clock1.png) no-repeat; background-size: @emoji-size; }
.emojify.clock130 { background: url(../emojis/clock130.png) no-repeat; background-size: @emoji-size; }
.emojify.clock10 { background: url(../emojis/clock10.png) no-repeat; background-size: @emoji-size; }
.emojify.clock1030 { background: url(../emojis/clock1030.png) no-repeat; background-size: @emoji-size; }
.emojify.clock11 { background: url(../emojis/clock11.png) no-repeat; background-size: @emoji-size; }
.emojify.clock1130 { background: url(../emojis/clock1130.png) no-repeat; background-size: @emoji-size; }
.emojify.clock12 { background: url(../emojis/clock12.png) no-repeat; background-size: @emoji-size; }
.emojify.clock1230 { background: url(../emojis/clock1230.png) no-repeat; background-size: @emoji-size; }
.emojify.clock2 { background: url(../emojis/clock2.png) no-repeat; background-size: @emoji-size; }
.emojify.clock230 { background: url(../emojis/clock230.png) no-repeat; background-size: @emoji-size; }
.emojify.clock3 { background: url(../emojis/clock3.png) no-repeat; background-size: @emoji-size; }
.emojify.clock330 { background: url(../emojis/clock330.png) no-repeat; background-size: @emoji-size; }
.emojify.clock4 { background: url(../emojis/clock4.png) no-repeat; background-size: @emoji-size; }
.emojify.clock430 { background: url(../emojis/clock430.png) no-repeat; background-size: @emoji-size; }
.emojify.clock5 { background: url(../emojis/clock5.png) no-repeat; background-size: @emoji-size; }
.emojify.clock530 { background: url(../emojis/clock530.png) no-repeat; background-size: @emoji-size; }
.emojify.clock6 { background: url(../emojis/clock6.png) no-repeat; background-size: @emoji-size; }
.emojify.clock630 { background: url(../emojis/clock630.png) no-repeat; background-size: @emoji-size; }
.emojify.clock7 { background: url(../emojis/clock7.png) no-repeat; background-size: @emoji-size; }
.emojify.clock730 { background: url(../emojis/clock730.png) no-repeat; background-size: @emoji-size; }
.emojify.clock8 { background: url(../emojis/clock8.png) no-repeat; background-size: @emoji-size; }
.emojify.clock830 { background: url(../emojis/clock830.png) no-repeat; background-size: @emoji-size; }
.emojify.clock9 { background: url(../emojis/clock9.png) no-repeat; background-size: @emoji-size; }
.emojify.clock930 { background: url(../emojis/clock930.png) no-repeat; background-size: @emoji-size; }
.emojify.heavy_dollar_sign { background: url(../emojis/heavy_dollar_sign.png) no-repeat; background-size: @emoji-size; }
.emojify.copyright { background: url(../emojis/copyright.png) no-repeat; background-size: @emoji-size; }
.emojify.registered { background: url(../emojis/registered.png) no-repeat; background-size: @emoji-size; }
.emojify.tm { background: url(../emojis/tm.png) no-repeat; background-size: @emoji-size; }
.emojify.x { background: url(../emojis/x.png) no-repeat; background-size: @emoji-size; }
.emojify.heavy_exclamation_mark { background: url(../emojis/heavy_exclamation_mark.png) no-repeat; background-size: @emoji-size; }
.emojify.bangbang { background: url(../emojis/bangbang.png) no-repeat; background-size: @emoji-size; }
.emojify.interrobang { background: url(../emojis/interrobang.png) no-repeat; background-size: @emoji-size; }
.emojify.o { background: url(../emojis/o.png) no-repeat; background-size: @emoji-size; }
.emojify.heavy_multiplication_x { background: url(../emojis/heavy_multiplication_x.png) no-repeat; background-size: @emoji-size; }
.emojify.heavy_plus_sign { background: url(../emojis/heavy_plus_sign.png) no-repeat; background-size: @emoji-size; }
.emojify.heavy_minus_sign { background: url(../emojis/heavy_minus_sign.png) no-repeat; background-size: @emoji-size; }
.emojify.heavy_division_sign { background: url(../emojis/heavy_division_sign.png) no-repeat; background-size: @emoji-size; }
.emojify.white_flower { background: url(../emojis/white_flower.png) no-repeat; background-size: @emoji-size; }
.emojify.onehundred { background: url(../emojis/100.png) no-repeat; background-size: @emoji-size; }
.emojify.heavy_check_mark { background: url(../emojis/heavy_check_mark.png) no-repeat; background-size: @emoji-size; }
.emojify.ballot_box_with_check { background: url(../emojis/ballot_box_with_check.png) no-repeat; background-size: @emoji-size; }
.emojify.radio_button { background: url(../emojis/radio_button.png) no-repeat; background-size: @emoji-size; }
.emojify.link { background: url(../emojis/link.png) no-repeat; background-size: @emoji-size; }
.emojify.curly_loop { background: url(../emojis/curly_loop.png) no-repeat; background-size: @emoji-size; }
.emojify.wavy_dash { background: url(../emojis/wavy_dash.png) no-repeat; background-size: @emoji-size; }
.emojify.part_alternation_mark { background: url(../emojis/part_alternation_mark.png) no-repeat; background-size: @emoji-size; }
.emojify.trident { background: url(../emojis/trident.png) no-repeat; background-size: @emoji-size; }
.emojify.black_square { background: url(../emojis/black_square.png) no-repeat; background-size: @emoji-size; }
.emojify.white_square { background: url(../emojis/white_square.png) no-repeat; background-size: @emoji-size; }
.emojify.white_check_mark { background: url(../emojis/white_check_mark.png) no-repeat; background-size: @emoji-size; }
.emojify.black_square_button { background: url(../emojis/black_square_button.png) no-repeat; background-size: @emoji-size; }
.emojify.white_square_button { background: url(../emojis/white_square_button.png) no-repeat; background-size: @emoji-size; }
.emojify.black_circle { background: url(../emojis/black_circle.png) no-repeat; background-size: @emoji-size; }
.emojify.white_circle { background: url(../emojis/white_circle.png) no-repeat; background-size: @emoji-size; }
.emojify.red_circle { background: url(../emojis/red_circle.png) no-repeat; background-size: @emoji-size; }
.emojify.large_blue_circle { background: url(../emojis/large_blue_circle.png) no-repeat; background-size: @emoji-size; }
.emojify.large_blue_diamond { background: url(../emojis/large_blue_diamond.png) no-repeat; background-size: @emoji-size; }
.emojify.large_orange_diamond { background: url(../emojis/large_orange_diamond.png) no-repeat; background-size: @emoji-size; }
.emojify.small_blue_diamond { background: url(../emojis/small_blue_diamond.png) no-repeat; background-size: @emoji-size; }
.emojify.small_orange_diamond { background: url(../emojis/small_orange_diamond.png) no-repeat; background-size: @emoji-size; }
.emojify.small_red_triangle { background: url(../emojis/small_red_triangle.png) no-repeat; background-size: @emoji-size; }
.emojify.small_red_triangle_down { background: url(../emojis/small_red_triangle_down.png) no-repeat; background-size: @emoji-size; }
.emojify.shipit { background: url(../emojis/shipit.png) no-repeat; background-size: @emoji-size; }
