.emojify.alien { .background(alien); background-size: @emoji-size; }
.emojify.angel { .background(angel); background-size: @emoji-size; }
.emojify.anger { .background(anger); background-size: @emoji-size; }
.emojify.angry { .background(angry); background-size: @emoji-size; }
.emojify.anguished { .background(anguished); background-size: @emoji-size; }
.emojify.astonished { .background(astonished); background-size: @emoji-size; }
.emojify.baby { .background(baby); background-size: @emoji-size; }
.emojify.blue_heart { .background(blue_heart); background-size: @emoji-size; }
.emojify.blush { .background(blush); background-size: @emoji-size; }
.emojify.boom { .background(boom); background-size: @emoji-size; }
.emojify.bow { .background(bow); background-size: @emoji-size; }
.emojify.bowtie { .background(bowtie); background-size: @emoji-size; }
.emojify.boy { .background(boy); background-size: @emoji-size; }
.emojify.bride_with_veil { .background(bride_with_veil); background-size: @emoji-size; }
.emojify.broken_heart { .background(broken_heart); background-size: @emoji-size; }
.emojify.bust_in_silhouette { .background(bust_in_silhouette); background-size: @emoji-size; }
.emojify.busts_in_silhouette { .background(busts_in_silhouette); background-size: @emoji-size; }
.emojify.clap { .background(clap); background-size: @emoji-size; }
.emojify.cold_sweat { .background(cold_sweat); background-size: @emoji-size; }
.emojify.collision { .background(collision); background-size: @emoji-size; }
.emojify.confounded { .background(confounded); background-size: @emoji-size; }
.emojify.confused { .background(confused); background-size: @emoji-size; }
.emojify.construction_worker { .background(construction_worker); background-size: @emoji-size; }
.emojify.cop { .background(cop); background-size: @emoji-size; }
.emojify.couple_with_heart { .background(couple_with_heart); background-size: @emoji-size; }
.emojify.couple { .background(couple); background-size: @emoji-size; }
.emojify.couplekiss { .background(couplekiss); background-size: @emoji-size; }
.emojify.cry { .background(cry); background-size: @emoji-size; }
.emojify.crying_cat_face { .background(crying_cat_face); background-size: @emoji-size; }
.emojify.cupid { .background(cupid); background-size: @emoji-size; }
.emojify.dancer { .background(dancer); background-size: @emoji-size; }
.emojify.dancers { .background(dancers); background-size: @emoji-size; }
.emojify.dash { .background(dash); background-size: @emoji-size; }
.emojify.disappointed { .background(disappointed); background-size: @emoji-size; }
.emojify.dizzy_face { .background(dizzy_face); background-size: @emoji-size; }
.emojify.dizzy { .background(dizzy); background-size: @emoji-size; }
.emojify.droplet { .background(droplet); background-size: @emoji-size; }
.emojify.ear { .background(ear); background-size: @emoji-size; }
.emojify.exclamation { .background(exclamation); background-size: @emoji-size; }
.emojify.expressionless { .background(expressionless); background-size: @emoji-size; }
.emojify.eyes { .background(eyes); background-size: @emoji-size; }
.emojify.facepunch { .background(facepunch); background-size: @emoji-size; }
.emojify.family { .background(family); background-size: @emoji-size; }
.emojify.fearful { .background(fearful); background-size: @emoji-size; }
.emojify.feelsgood { .background(feelsgood); background-size: @emoji-size; }
.emojify.feet { .background(feet); background-size: @emoji-size; }
.emojify.finnadie { .background(finnadie); background-size: @emoji-size; }
.emojify.fire { .background(fire); background-size: @emoji-size; }
.emojify.fist { .background(fist); background-size: @emoji-size; }
.emojify.flushed { .background(flushed); background-size: @emoji-size; }
.emojify.frowning { .background(frowning); background-size: @emoji-size; }
.emojify.girl { .background(girl); background-size: @emoji-size; }
.emojify.goberserk { .background(goberserk); background-size: @emoji-size; }
.emojify.godmode { .background(godmode); background-size: @emoji-size; }
.emojify.green_heart { .background(green_heart); background-size: @emoji-size; }
.emojify.grey_exclamation { .background(grey_exclamation); background-size: @emoji-size; }
.emojify.grey_question { .background(grey_question); background-size: @emoji-size; }
.emojify.grimacing { .background(grimacing); background-size: @emoji-size; }
.emojify.grin { .background(grin); background-size: @emoji-size; }
.emojify.grinning { .background(grinning); background-size: @emoji-size; }
.emojify.guardsman { .background(guardsman); background-size: @emoji-size; }
.emojify.haircut { .background(haircut); background-size: @emoji-size; }
.emojify.hand { .background(hand); background-size: @emoji-size; }
.emojify.hankey { .background(hankey); background-size: @emoji-size; }
.emojify.hear_no_evil { .background(hear_no_evil); background-size: @emoji-size; }
.emojify.heart_eyes_cat { .background(heart_eyes_cat); background-size: @emoji-size; }
.emojify.heart_eyes { .background(heart_eyes); background-size: @emoji-size; }
.emojify.heart { .background(heart); background-size: @emoji-size; }
.emojify.heartbeat { .background(heartbeat); background-size: @emoji-size; }
.emojify.heartpulse { .background(heartpulse); background-size: @emoji-size; }
.emojify.hurtrealbad { .background(hurtrealbad); background-size: @emoji-size; }
.emojify.hushed { .background(hushed); background-size: @emoji-size; }
.emojify.imp { .background(imp); background-size: @emoji-size; }
.emojify.information_desk_person { .background(information_desk_person); background-size: @emoji-size; }
.emojify.innocent { .background(innocent); background-size: @emoji-size; }
.emojify.japanese_goblin { .background(japanese_goblin); background-size: @emoji-size; }
.emojify.japanese_ogre { .background(japanese_ogre); background-size: @emoji-size; }
.emojify.joy_cat { .background(joy_cat); background-size: @emoji-size; }
.emojify.joy { .background(joy); background-size: @emoji-size; }
.emojify.kiss { .background(kiss); background-size: @emoji-size; }
.emojify.kissing_cat { .background(kissing_cat); background-size: @emoji-size; }
.emojify.kissing_closed_eyes { .background(kissing_closed_eyes); background-size: @emoji-size; }
.emojify.kissing_heart { .background(kissing_heart); background-size: @emoji-size; }
.emojify.kissing_smiling_eyes { .background(kissing_smiling_eyes); background-size: @emoji-size; }
.emojify.kissing { .background(kissing); background-size: @emoji-size; }
.emojify.laughing { .background(laughing); background-size: @emoji-size; }
.emojify.lips { .background(lips); background-size: @emoji-size; }
.emojify.love_letter { .background(love_letter); background-size: @emoji-size; }
.emojify.man_with_gua_pi_mao { .background(man_with_gua_pi_mao); background-size: @emoji-size; }
.emojify.man_with_turban { .background(man_with_turban); background-size: @emoji-size; }
.emojify.man { .background(man); background-size: @emoji-size; }
.emojify.mask { .background(mask); background-size: @emoji-size; }
.emojify.massage { .background(massage); background-size: @emoji-size; }
.emojify.metal { .background(metal); background-size: @emoji-size; }
.emojify.muscle { .background(muscle); background-size: @emoji-size; }
.emojify.musical_note { .background(musical_note); background-size: @emoji-size; }
.emojify.nail_care { .background(nail_care); background-size: @emoji-size; }
.emojify.neckbeard { .background(neckbeard); background-size: @emoji-size; }
.emojify.neutral_face { .background(neutral_face); background-size: @emoji-size; }
.emojify.no_good { .background(no_good); background-size: @emoji-size; }
.emojify.no_mouth { .background(no_mouth); background-size: @emoji-size; }
.emojify.nose { .background(nose); background-size: @emoji-size; }
.emojify.notes { .background(notes); background-size: @emoji-size; }
.emojify.ok_hand { .background(ok_hand); background-size: @emoji-size; }
.emojify.ok_woman { .background(ok_woman); background-size: @emoji-size; }
.emojify.older_man { .background(older_man); background-size: @emoji-size; }
.emojify.older_woman { .background(older_woman); background-size: @emoji-size; }
.emojify.open_hands { .background(open_hands); background-size: @emoji-size; }
.emojify.open_mouth { .background(open_mouth); background-size: @emoji-size; }
.emojify.pensive { .background(pensive); background-size: @emoji-size; }
.emojify.persevere { .background(persevere); background-size: @emoji-size; }
.emojify.person_frowning { .background(person_frowning); background-size: @emoji-size; }
.emojify.person_with_blond_hair { .background(person_with_blond_hair); background-size: @emoji-size; }
.emojify.person_with_pouting_face { .background(person_with_pouting_face); background-size: @emoji-size; }
.emojify.point_down { .background(point_down); background-size: @emoji-size; }
.emojify.point_left { .background(point_left); background-size: @emoji-size; }
.emojify.point_right { .background(point_right); background-size: @emoji-size; }
.emojify.point_up_2 { .background(point_up_2); background-size: @emoji-size; }
.emojify.point_up { .background(point_up); background-size: @emoji-size; }
.emojify.poop { .background(poop); background-size: @emoji-size; }
.emojify.pouting_cat { .background(pouting_cat); background-size: @emoji-size; }
.emojify.pray { .background(pray); background-size: @emoji-size; }
.emojify.princess { .background(princess); background-size: @emoji-size; }
.emojify.punch { .background(punch); background-size: @emoji-size; }
.emojify.purple_heart { .background(purple_heart); background-size: @emoji-size; }
.emojify.question { .background(question); background-size: @emoji-size; }
.emojify.rage { .background(rage); background-size: @emoji-size; }
.emojify.rage1 { .background(rage1); background-size: @emoji-size; }
.emojify.rage2 { .background(rage2); background-size: @emoji-size; }
.emojify.rage3 { .background(rage3); background-size: @emoji-size; }
.emojify.rage4 { .background(rage4); background-size: @emoji-size; }
.emojify.raised_hand { .background(raised_hand); background-size: @emoji-size; }
.emojify.raised_hands { .background(raised_hands); background-size: @emoji-size; }
.emojify.relaxed { .background(relaxed); background-size: @emoji-size; }
.emojify.relieved { .background(relieved); background-size: @emoji-size; }
.emojify.revolving_hearts { .background(revolving_hearts); background-size: @emoji-size; }
.emojify.runner { .background(runner); background-size: @emoji-size; }
.emojify.running { .background(running); background-size: @emoji-size; }
.emojify.satisfied { .background(satisfied); background-size: @emoji-size; }
.emojify.scream_cat { .background(scream_cat); background-size: @emoji-size; }
.emojify.scream { .background(scream); background-size: @emoji-size; }
.emojify.see_no_evil { .background(see_no_evil); background-size: @emoji-size; }
.emojify.shit { .background(shit); background-size: @emoji-size; }
.emojify.skull { .background(skull); background-size: @emoji-size; }
.emojify.sleeping { .background(sleeping); background-size: @emoji-size; }
.emojify.sleepy { .background(sleepy); background-size: @emoji-size; }
.emojify.smile_cat { .background(smile_cat); background-size: @emoji-size; }
.emojify.smile { .background(smile); background-size: @emoji-size; }
.emojify.smiley_cat { .background(smiley_cat); background-size: @emoji-size; }
.emojify.smiley { .background(smiley); background-size: @emoji-size; }
.emojify.smiling_imp { .background(smiling_imp); background-size: @emoji-size; }
.emojify.smirk_cat { .background(smirk_cat); background-size: @emoji-size; }
.emojify.smirk { .background(smirk); background-size: @emoji-size; }
.emojify.sob { .background(sob); background-size: @emoji-size; }
.emojify.sparkling_heart { .background(sparkling_heart); background-size: @emoji-size; }
.emojify.sparkles { .background(sparkles); background-size: @emoji-size; }
.emojify.speak_no_evil { .background(speak_no_evil); background-size: @emoji-size; }
.emojify.speech_balloon { .background(speech_balloon); background-size: @emoji-size; }
.emojify.star { .background(star); background-size: @emoji-size; }
.emojify.star2 { .background(star2); background-size: @emoji-size; }
.emojify.stuck_out_tongue_closed_eyes { .background(stuck_out_tongue_closed_eyes); background-size: @emoji-size; }
.emojify.stuck_out_tongue_winking_eye { .background(stuck_out_tongue_winking_eye); background-size: @emoji-size; }
.emojify.stuck_out_tongue { .background(stuck_out_tongue); background-size: @emoji-size; }
.emojify.sunglasses { .background(sunglasses); background-size: @emoji-size; }
.emojify.suspect { .background(suspect); background-size: @emoji-size; }
.emojify.sweat_drops { .background(sweat_drops); background-size: @emoji-size; }
.emojify.sweat_smile { .background(sweat_smile); background-size: @emoji-size; }
.emojify.sweat { .background(sweat); background-size: @emoji-size; }
.emojify.thought_balloon { .background(thought_balloon); background-size: @emoji-size; }
.emojify.thumbsdown { .background(thumbsdown); background-size: @emoji-size; }
.emojify.thumbsup { .background(thumbsup); background-size: @emoji-size; }
.emojify.tired_face { .background(tired_face); background-size: @emoji-size; }
.emojify.tongue { .background(tongue); background-size: @emoji-size; }
.emojify.triumph { .background(triumph); background-size: @emoji-size; }
.emojify.trollface { .background(trollface); background-size: @emoji-size; }
.emojify.two_hearts { .background(two_hearts); background-size: @emoji-size; }
.emojify.two_men_holding_hands { .background(two_men_holding_hands); background-size: @emoji-size; }
.emojify.two_women_holding_hands { .background(two_women_holding_hands); background-size: @emoji-size; }
.emojify.unamused { .background(unamused); background-size: @emoji-size; }
.emojify.v { .background(v); background-size: @emoji-size; }
.emojify.walking { .background(walking); background-size: @emoji-size; }
.emojify.wave { .background(wave); background-size: @emoji-size; }
.emojify.weary { .background(weary); background-size: @emoji-size; }
.emojify.wink { .background(wink); background-size: @emoji-size; }
.emojify.woman { .background(woman); background-size: @emoji-size; }
.emojify.worried { .background(worried); background-size: @emoji-size; }
.emojify.yellow_heart { .background(yellow_heart); background-size: @emoji-size; }
.emojify.yum { .background(yum); background-size: @emoji-size; }
.emojify.zzz { .background(zzz); background-size: @emoji-size; }