.emojify.blush { background: url(../emojis/blush.png) no-repeat; background-size: @emoji-size; }
.emojify.scream { background: url(../emojis/scream.png) no-repeat; background-size: @emoji-size; }
.emojify.smirk { background: url(../emojis/smirk.png) no-repeat; background-size: @emoji-size; }
.emojify.smiley { background: url(../emojis/smiley.png) no-repeat; background-size: @emoji-size; }
.emojify.stuck_out_tongue_closed_eyes { background: url(../emojis/stuck_out_tongue_closed_eyes.png) no-repeat; background-size: @emoji-size; }
.emojify.stuck_out_tongue_winking_eye { background: url(../emojis/stuck_out_tongue_winking_eye.png) no-repeat; background-size: @emoji-size; }
.emojify.rage { background: url(../emojis/rage.png) no-repeat; background-size: @emoji-size; }
.emojify.disappointed { background: url(../emojis/disappointed.png) no-repeat; background-size: @emoji-size; }
.emojify.sob { background: url(../emojis/sob.png) no-repeat; background-size: @emoji-size; }
.emojify.kissing_heart { background: url(../emojis/kissing_heart.png) no-repeat; background-size: @emoji-size; }
.emojify.wink { background: url(../emojis/wink.png) no-repeat; background-size: @emoji-size; }
.emojify.pensive { background: url(../emojis/pensive.png) no-repeat; background-size: @emoji-size; }
.emojify.confounded { background: url(../emojis/confounded.png) no-repeat; background-size: @emoji-size; }
.emojify.flushed { background: url(../emojis/flushed.png) no-repeat; background-size: @emoji-size; }
.emojify.relaxed { background: url(../emojis/relaxed.png) no-repeat; background-size: @emoji-size; }
.emojify.mask { background: url(../emojis/mask.png) no-repeat; background-size: @emoji-size; }
.emojify.heart { background: url(../emojis/heart.png) no-repeat; background-size: @emoji-size; }
.emojify.broken_heart { background: url(../emojis/broken_heart.png) no-repeat; background-size: @emoji-size; }