.emojify.house { .background(house); background-size: @emoji-size; }
.emojify.house_with_garden { .background(house_with_garden); background-size: @emoji-size; }
.emojify.school { .background(school); background-size: @emoji-size; }
.emojify.office { .background(office); background-size: @emoji-size; }
.emojify.post_office { .background(post_office); background-size: @emoji-size; }
.emojify.hospital { .background(hospital); background-size: @emoji-size; }
.emojify.bank { .background(bank); background-size: @emoji-size; }
.emojify.convenience_store { .background(convenience_store); background-size: @emoji-size; }
.emojify.love_hotel { .background(love_hotel); background-size: @emoji-size; }
.emojify.hotel { .background(hotel); background-size: @emoji-size; }
.emojify.wedding { .background(wedding); background-size: @emoji-size; }
.emojify.church { .background(church); background-size: @emoji-size; }
.emojify.department_store { .background(department_store); background-size: @emoji-size; }
.emojify.european_post_office { .background(european_post_office); background-size: @emoji-size; }
.emojify.city_sunrise { .background(city_sunrise); background-size: @emoji-size; }
.emojify.city_sunset { .background(city_sunset); background-size: @emoji-size; }
.emojify.japanese_castle { .background(japanese_castle); background-size: @emoji-size; }
.emojify.european_castle { .background(european_castle); background-size: @emoji-size; }
.emojify.tent { .background(tent); background-size: @emoji-size; }
.emojify.factory { .background(factory); background-size: @emoji-size; }
.emojify.tokyo_tower { .background(tokyo_tower); background-size: @emoji-size; }
.emojify.japan { .background(japan); background-size: @emoji-size; }
.emojify.mount_fuji { .background(mount_fuji); background-size: @emoji-size; }
.emojify.sunrise_over_mountains { .background(sunrise_over_mountains); background-size: @emoji-size; }
.emojify.sunrise { .background(sunrise); background-size: @emoji-size; }
.emojify.stars { .background(stars); background-size: @emoji-size; }
.emojify.statue_of_liberty { .background(statue_of_liberty); background-size: @emoji-size; }
.emojify.bridge_at_night { .background(bridge_at_night); background-size: @emoji-size; }
.emojify.carousel_horse { .background(carousel_horse); background-size: @emoji-size; }
.emojify.rainbow { .background(rainbow); background-size: @emoji-size; }
.emojify.ferris_wheel { .background(ferris_wheel); background-size: @emoji-size; }
.emojify.fountain { .background(fountain); background-size: @emoji-size; }
.emojify.roller_coaster { .background(roller_coaster); background-size: @emoji-size; }
.emojify.ship { .background(ship); background-size: @emoji-size; }
.emojify.speedboat { .background(speedboat); background-size: @emoji-size; }
.emojify.boat { .background(boat); background-size: @emoji-size; }
.emojify.sailboat { .background(sailboat); background-size: @emoji-size; }
.emojify.rowboat { .background(rowboat); background-size: @emoji-size; }
.emojify.anchor { .background(anchor); background-size: @emoji-size; }
.emojify.rocket { .background(rocket); background-size: @emoji-size; }
.emojify.airplane { .background(airplane); background-size: @emoji-size; }
.emojify.helicopter { .background(helicopter); background-size: @emoji-size; }
.emojify.steam_locomotive { .background(steam_locomotive); background-size: @emoji-size; }
.emojify.tram { .background(tram); background-size: @emoji-size; }
.emojify.mountain_railway { .background(mountain_railway); background-size: @emoji-size; }
.emojify.bike { .background(bike); background-size: @emoji-size; }
.emojify.aerial_tramway { .background(aerial_tramway); background-size: @emoji-size; }
.emojify.suspension_railway { .background(suspension_railway); background-size: @emoji-size; }
.emojify.mountain_cableway { .background(mountain_cableway); background-size: @emoji-size; }
.emojify.tractor { .background(tractor); background-size: @emoji-size; }
.emojify.blue_car { .background(blue_car); background-size: @emoji-size; }
.emojify.oncoming_automobile { .background(oncoming_automobile); background-size: @emoji-size; }
.emojify.car { .background(car); background-size: @emoji-size; }
.emojify.red_car { .background(red_car); background-size: @emoji-size; }
.emojify.taxi { .background(taxi); background-size: @emoji-size; }
.emojify.oncoming_taxi { .background(oncoming_taxi); background-size: @emoji-size; }
.emojify.articulated_lorry { .background(articulated_lorry); background-size: @emoji-size; }
.emojify.bus { .background(bus); background-size: @emoji-size; }
.emojify.oncoming_bus { .background(oncoming_bus); background-size: @emoji-size; }
.emojify.rotating_light { .background(rotating_light); background-size: @emoji-size; }
.emojify.police_car { .background(police_car); background-size: @emoji-size; }
.emojify.oncoming_police_car { .background(oncoming_police_car); background-size: @emoji-size; }
.emojify.fire_engine { .background(fire_engine); background-size: @emoji-size; }
.emojify.ambulance { .background(ambulance); background-size: @emoji-size; }
.emojify.minibus { .background(minibus); background-size: @emoji-size; }
.emojify.truck { .background(truck); background-size: @emoji-size; }
.emojify.train { .background(train); background-size: @emoji-size; }
.emojify.station { .background(station); background-size: @emoji-size; }
.emojify.train2 { .background(train2); background-size: @emoji-size; }
.emojify.bullettrain_front { .background(bullettrain_front); background-size: @emoji-size; }
.emojify.bullettrain_side { .background(bullettrain_side); background-size: @emoji-size; }
.emojify.light_rail { .background(light_rail); background-size: @emoji-size; }
.emojify.monorail { .background(monorail); background-size: @emoji-size; }
.emojify.railway_car { .background(railway_car); background-size: @emoji-size; }
.emojify.trolleybus { .background(trolleybus); background-size: @emoji-size; }
.emojify.ticket { .background(ticket); background-size: @emoji-size; }
.emojify.fuelpump { .background(fuelpump); background-size: @emoji-size; }
.emojify.vertical_traffic_light { .background(vertical_traffic_light); background-size: @emoji-size; }
.emojify.traffic_light { .background(traffic_light); background-size: @emoji-size; }
.emojify.warning { .background(warning); background-size: @emoji-size; }
.emojify.construction { .background(construction); background-size: @emoji-size; }
.emojify.beginner { .background(beginner); background-size: @emoji-size; }
.emojify.atm { .background(atm); background-size: @emoji-size; }
.emojify.slot_machine { .background(slot_machine); background-size: @emoji-size; }
.emojify.busstop { .background(busstop); background-size: @emoji-size; }
.emojify.barber { .background(barber); background-size: @emoji-size; }
.emojify.hotsprings { .background(hotsprings); background-size: @emoji-size; }
.emojify.checkered_flag { .background(checkered_flag); background-size: @emoji-size; }
.emojify.crossed_flags { .background(crossed_flags); background-size: @emoji-size; }
.emojify.izakaya_lantern { .background(izakaya_lantern); background-size: @emoji-size; }
.emojify.moyai { .background(moyai); background-size: @emoji-size; }
.emojify.circus_tent { .background(circus_tent); background-size: @emoji-size; }
.emojify.performing_arts { .background(performing_arts); background-size: @emoji-size; }
.emojify.round_pushpin { .background(round_pushpin); background-size: @emoji-size; }
.emojify.triangular_flag_on_post { .background(triangular_flag_on_post); background-size: @emoji-size; }
.emojify.jp { .background(jp); background-size: @emoji-size; }
.emojify.kr { .background(kr); background-size: @emoji-size; }
.emojify.cn { .background(cn); background-size: @emoji-size; }
.emojify.us { .background(us); background-size: @emoji-size; }
.emojify.fr { .background(fr); background-size: @emoji-size; }
.emojify.es { .background(es); background-size: @emoji-size; }
.emojify.it { .background(it); background-size: @emoji-size; }
.emojify.ru { .background(ru); background-size: @emoji-size; }
.emojify.gb { .background(gb); background-size: @emoji-size; }
.emojify.uk { .background(uk); background-size: @emoji-size; }
.emojify.de { .background(de); background-size: @emoji-size; }
