.emojify.bamboo { .background(bamboo); background-size: @emoji-size; }
.emojify.gift_heart { .background(gift_heart); background-size: @emoji-size; }
.emojify.dolls { .background(dolls); background-size: @emoji-size; }
.emojify.school_satchel { .background(school_satchel); background-size: @emoji-size; }
.emojify.mortar_board { .background(mortar_board); background-size: @emoji-size; }
.emojify.flags { .background(flags); background-size: @emoji-size; }
.emojify.fireworks { .background(fireworks); background-size: @emoji-size; }
.emojify.sparkler { .background(sparkler); background-size: @emoji-size; }
.emojify.wind_chime { .background(wind_chime); background-size: @emoji-size; }
.emojify.rice_scene { .background(rice_scene); background-size: @emoji-size; }
.emojify.jack_o_lantern { .background(jack_o_lantern); background-size: @emoji-size; }
.emojify.ghost { .background(ghost); background-size: @emoji-size; }
.emojify.santa { .background(santa); background-size: @emoji-size; }
.emojify.christmas_tree { .background(christmas_tree); background-size: @emoji-size; }
.emojify.gift { .background(gift); background-size: @emoji-size; }
.emojify.bell { .background(bell); background-size: @emoji-size; }
.emojify.no_bell { .background(no_bell); background-size: @emoji-size; }
.emojify.tanabata_tree { .background(tanabata_tree); background-size: @emoji-size; }
.emojify.tada { .background(tada); background-size: @emoji-size; }
.emojify.confetti_ball { .background(confetti_ball); background-size: @emoji-size; }
.emojify.balloon { .background(balloon); background-size: @emoji-size; }
.emojify.crystal_ball { .background(crystal_ball); background-size: @emoji-size; }
.emojify.cd { .background(cd); background-size: @emoji-size; }
.emojify.dvd { .background(dvd); background-size: @emoji-size; }
.emojify.floppy_disk { .background(floppy_disk); background-size: @emoji-size; }
.emojify.camera { .background(camera); background-size: @emoji-size; }
.emojify.video_camera { .background(video_camera); background-size: @emoji-size; }
.emojify.movie_camera { .background(movie_camera); background-size: @emoji-size; }
.emojify.computer { .background(computer); background-size: @emoji-size; }
.emojify.tv { .background(tv); background-size: @emoji-size; }
.emojify.iphone { .background(iphone); background-size: @emoji-size; }
.emojify.phone { .background(phone); background-size: @emoji-size; }
.emojify.telephone { .background(telephone); background-size: @emoji-size; }
.emojify.telephone_receiver { .background(telephone_receiver); background-size: @emoji-size; }
.emojify.pager { .background(pager); background-size: @emoji-size; }
.emojify.fax { .background(fax); background-size: @emoji-size; }
.emojify.minidisc { .background(minidisc); background-size: @emoji-size; }
.emojify.vhs { .background(vhs); background-size: @emoji-size; }
.emojify.sound { .background(sound); background-size: @emoji-size; }
.emojify.speaker { .background(speaker); background-size: @emoji-size; }
.emojify.mute { .background(mute); background-size: @emoji-size; }
.emojify.loudspeaker { .background(loudspeaker); background-size: @emoji-size; }
.emojify.mega { .background(mega); background-size: @emoji-size; }
.emojify.hourglass { .background(hourglass); background-size: @emoji-size; }
.emojify.hourglass_flowing_sand { .background(hourglass_flowing_sand); background-size: @emoji-size; }
.emojify.alarm_clock { .background(alarm_clock); background-size: @emoji-size; }
.emojify.watch { .background(watch); background-size: @emoji-size; }
.emojify.radio { .background(radio); background-size: @emoji-size; }
.emojify.satellite { .background(satellite); background-size: @emoji-size; }
.emojify.loop { .background(loop); background-size: @emoji-size; }
.emojify.mag { .background(mag); background-size: @emoji-size; }
.emojify.mag_right { .background(mag_right); background-size: @emoji-size; }
.emojify.unlock { .background(unlock); background-size: @emoji-size; }
.emojify.lock { .background(lock); background-size: @emoji-size; }
.emojify.lock_with_ink_pen { .background(lock_with_ink_pen); background-size: @emoji-size; }
.emojify.closed_lock_with_key { .background(closed_lock_with_key); background-size: @emoji-size; }
.emojify.key { .background(key); background-size: @emoji-size; }
.emojify.bulb { .background(bulb); background-size: @emoji-size; }
.emojify.flashlight { .background(flashlight); background-size: @emoji-size; }
.emojify.high_brightness { .background(high_brightness); background-size: @emoji-size; }
.emojify.low_brightness { .background(low_brightness); background-size: @emoji-size; }
.emojify.electric_plug { .background(electric_plug); background-size: @emoji-size; }
.emojify.battery { .background(battery); background-size: @emoji-size; }
.emojify.calling { .background(calling); background-size: @emoji-size; }
.emojify.email { .background(email); background-size: @emoji-size; }
.emojify.mailbox { .background(mailbox); background-size: @emoji-size; }
.emojify.postbox { .background(postbox); background-size: @emoji-size; }
.emojify.bath { .background(bath); background-size: @emoji-size; }
.emojify.bathtub { .background(bathtub); background-size: @emoji-size; }
.emojify.shower { .background(shower); background-size: @emoji-size; }
.emojify.toilet { .background(toilet); background-size: @emoji-size; }
.emojify.wrench { .background(wrench); background-size: @emoji-size; }
.emojify.nut_and_bolt { .background(nut_and_bolt); background-size: @emoji-size; }
.emojify.hammer { .background(hammer); background-size: @emoji-size; }
.emojify.seat { .background(seat); background-size: @emoji-size; }
.emojify.moneybag { .background(moneybag); background-size: @emoji-size; }
.emojify.yen { .background(yen); background-size: @emoji-size; }
.emojify.dollar { .background(dollar); background-size: @emoji-size; }
.emojify.pound { .background(pound); background-size: @emoji-size; }
.emojify.euro { .background(euro); background-size: @emoji-size; }
.emojify.credit_card { .background(credit_card); background-size: @emoji-size; }
.emojify.money_with_wings { .background(money_with_wings); background-size: @emoji-size; }
.emojify.e-mail { .background(e-mail); background-size: @emoji-size; }
.emojify.inbox_tray { .background(inbox_tray); background-size: @emoji-size; }
.emojify.outbox_tray { .background(outbox_tray); background-size: @emoji-size; }
.emojify.envelope { .background(envelope); background-size: @emoji-size; }
.emojify.incoming_envelope { .background(incoming_envelope); background-size: @emoji-size; }
.emojify.postal_horn { .background(postal_horn); background-size: @emoji-size; }
.emojify.mailbox_closed { .background(mailbox_closed); background-size: @emoji-size; }
.emojify.mailbox_with_mail { .background(mailbox_with_mail); background-size: @emoji-size; }
.emojify.mailbox_with_no_mail { .background(mailbox_with_no_mail); background-size: @emoji-size; }
.emojify.door { .background(door); background-size: @emoji-size; }
.emojify.smoking { .background(smoking); background-size: @emoji-size; }
.emojify.bomb { .background(bomb); background-size: @emoji-size; }
.emojify.gun { .background(gun); background-size: @emoji-size; }
.emojify.hocho { .background(hocho); background-size: @emoji-size; }
.emojify.pill { .background(pill); background-size: @emoji-size; }
.emojify.syringe { .background(syringe); background-size: @emoji-size; }
.emojify.page_facing_up { .background(page_facing_up); background-size: @emoji-size; }
.emojify.page_with_curl { .background(page_with_curl); background-size: @emoji-size; }
.emojify.bookmark_tabs { .background(bookmark_tabs); background-size: @emoji-size; }
.emojify.bar_chart { .background(bar_chart); background-size: @emoji-size; }
.emojify.chart_with_upwards_trend { .background(chart_with_upwards_trend); background-size: @emoji-size; }
.emojify.chart_with_downwards_trend { .background(chart_with_downwards_trend); background-size: @emoji-size; }
.emojify.scroll { .background(scroll); background-size: @emoji-size; }
.emojify.clipboard { .background(clipboard); background-size: @emoji-size; }
.emojify.calendar { .background(calendar); background-size: @emoji-size; }
.emojify.date { .background(date); background-size: @emoji-size; }
.emojify.card_index { .background(card_index); background-size: @emoji-size; }
.emojify.file_folder { .background(file_folder); background-size: @emoji-size; }
.emojify.open_file_folder { .background(open_file_folder); background-size: @emoji-size; }
.emojify.scissors { .background(scissors); background-size: @emoji-size; }
.emojify.pushpin { .background(pushpin); background-size: @emoji-size; }
.emojify.paperclip { .background(paperclip); background-size: @emoji-size; }
.emojify.black_nib { .background(black_nib); background-size: @emoji-size; }
.emojify.pencil2 { .background(pencil2); background-size: @emoji-size; }
.emojify.straight_ruler { .background(straight_ruler); background-size: @emoji-size; }
.emojify.triangular_ruler { .background(triangular_ruler); background-size: @emoji-size; }
.emojify.closed_book { .background(closed_book); background-size: @emoji-size; }
.emojify.green_book { .background(green_book); background-size: @emoji-size; }
.emojify.blue_book { .background(blue_book); background-size: @emoji-size; }
.emojify.orange_book { .background(orange_book); background-size: @emoji-size; }
.emojify.notebook { .background(notebook); background-size: @emoji-size; }
.emojify.notebook_with_decorative_cover { .background(notebook_with_decorative_cover); background-size: @emoji-size; }
.emojify.ledger { .background(ledger); background-size: @emoji-size; }
.emojify.books { .background(books); background-size: @emoji-size; }
.emojify.bookmark { .background(bookmark); background-size: @emoji-size; }
.emojify.name_badge { .background(name_badge); background-size: @emoji-size; }
.emojify.microscope { .background(microscope); background-size: @emoji-size; }
.emojify.telescope { .background(telescope); background-size: @emoji-size; }
.emojify.newspaper { .background(newspaper); background-size: @emoji-size; }
.emojify.football { .background(football); background-size: @emoji-size; }
.emojify.basketball { .background(basketball); background-size: @emoji-size; }
.emojify.soccer { .background(soccer); background-size: @emoji-size; }
.emojify.baseball { .background(baseball); background-size: @emoji-size; }
.emojify.tennis { .background(tennis); background-size: @emoji-size; }
.emojify.eightball { .background('8ball'); background-size: @emoji-size; }
.emojify.rugby_football { .background(rugby_football); background-size: @emoji-size; }
.emojify.bowling { .background(bowling); background-size: @emoji-size; }
.emojify.golf { .background(golf); background-size: @emoji-size; }
.emojify.mountain_bicyclist { .background(mountain_bicyclist); background-size: @emoji-size; }
.emojify.bicyclist { .background(bicyclist); background-size: @emoji-size; }
.emojify.horse_racing { .background(horse_racing); background-size: @emoji-size; }
.emojify.snowboarder { .background(snowboarder); background-size: @emoji-size; }
.emojify.swimmer { .background(swimmer); background-size: @emoji-size; }
.emojify.surfer { .background(surfer); background-size: @emoji-size; }
.emojify.ski { .background(ski); background-size: @emoji-size; }
.emojify.spades { .background(spades); background-size: @emoji-size; }
.emojify.hearts { .background(hearts); background-size: @emoji-size; }
.emojify.clubs { .background(clubs); background-size: @emoji-size; }
.emojify.diamonds { .background(diamonds); background-size: @emoji-size; }
.emojify.gem { .background(gem); background-size: @emoji-size; }
.emojify.ring { .background(ring); background-size: @emoji-size; }
.emojify.trophy { .background(trophy); background-size: @emoji-size; }
.emojify.musical_score { .background(musical_score); background-size: @emoji-size; }
.emojify.musical_keyboard { .background(musical_keyboard); background-size: @emoji-size; }
.emojify.violin { .background(violin); background-size: @emoji-size; }
.emojify.space_invader { .background(space_invader); background-size: @emoji-size; }
.emojify.video_game { .background(video_game); background-size: @emoji-size; }
.emojify.black_joker { .background(black_joker); background-size: @emoji-size; }
.emojify.flower_playing_cards { .background(flower_playing_cards); background-size: @emoji-size; }
.emojify.game_die { .background(game_die); background-size: @emoji-size; }
.emojify.dart { .background(dart); background-size: @emoji-size; }
.emojify.mahjong { .background(mahjong); background-size: @emoji-size; }
.emojify.clapper { .background(clapper); background-size: @emoji-size; }
.emojify.memo { .background(memo); background-size: @emoji-size; }
.emojify.pencil { .background(pencil); background-size: @emoji-size; }
.emojify.book { .background(book); background-size: @emoji-size; }
.emojify.art { .background(art); background-size: @emoji-size; }
.emojify.microphone { .background(microphone); background-size: @emoji-size; }
.emojify.headphones { .background(headphones); background-size: @emoji-size; }
.emojify.trumpet { .background(trumpet); background-size: @emoji-size; }
.emojify.saxophone { .background(saxophone); background-size: @emoji-size; }
.emojify.guitar { .background(guitar); background-size: @emoji-size; }
.emojify.shoe { .background(shoe); background-size: @emoji-size; }
.emojify.sandal { .background(sandal); background-size: @emoji-size; }
.emojify.high_heel { .background(high_heel); background-size: @emoji-size; }
.emojify.lipstick { .background(lipstick); background-size: @emoji-size; }
.emojify.boot { .background(boot); background-size: @emoji-size; }
.emojify.shirt { .background(shirt); background-size: @emoji-size; }
.emojify.tshirt { .background(tshirt); background-size: @emoji-size; }
.emojify.necktie { .background(necktie); background-size: @emoji-size; }
.emojify.womans_clothes { .background(womans_clothes); background-size: @emoji-size; }
.emojify.dress { .background(dress); background-size: @emoji-size; }
.emojify.running_shirt_with_sash { .background(running_shirt_with_sash); background-size: @emoji-size; }
.emojify.jeans { .background(jeans); background-size: @emoji-size; }
.emojify.kimono { .background(kimono); background-size: @emoji-size; }
.emojify.bikini { .background(bikini); background-size: @emoji-size; }
.emojify.ribbon { .background(ribbon); background-size: @emoji-size; }
.emojify.tophat { .background(tophat); background-size: @emoji-size; }
.emojify.crown { .background(crown); background-size: @emoji-size; }
.emojify.womans_hat { .background(womans_hat); background-size: @emoji-size; }
.emojify.mans_shoe { .background(mans_shoe); background-size: @emoji-size; }
.emojify.closed_umbrella { .background(closed_umbrella); background-size: @emoji-size; }
.emojify.briefcase { .background(briefcase); background-size: @emoji-size; }
.emojify.handbag { .background(handbag); background-size: @emoji-size; }
.emojify.pouch { .background(pouch); background-size: @emoji-size; }
.emojify.purse { .background(purse); background-size: @emoji-size; }
.emojify.eyeglasses { .background(eyeglasses); background-size: @emoji-size; }
.emojify.fishing_pole_and_fish { .background(fishing_pole_and_fish); background-size: @emoji-size; }
.emojify.coffee { .background(coffee); background-size: @emoji-size; }
.emojify.tea { .background(tea); background-size: @emoji-size; }
.emojify.sake { .background(sake); background-size: @emoji-size; }
.emojify.baby_bottle { .background(baby_bottle); background-size: @emoji-size; }
.emojify.beer { .background(beer); background-size: @emoji-size; }
.emojify.beers { .background(beers); background-size: @emoji-size; }
.emojify.cocktail { .background(cocktail); background-size: @emoji-size; }
.emojify.tropical_drink { .background(tropical_drink); background-size: @emoji-size; }
.emojify.wine_glass { .background(wine_glass); background-size: @emoji-size; }
.emojify.fork_and_knife { .background(fork_and_knife); background-size: @emoji-size; }
.emojify.pizza { .background(pizza); background-size: @emoji-size; }
.emojify.hamburger { .background(hamburger); background-size: @emoji-size; }
.emojify.fries { .background(fries); background-size: @emoji-size; }
.emojify.poultry_leg { .background(poultry_leg); background-size: @emoji-size; }
.emojify.meat_on_bone { .background(meat_on_bone); background-size: @emoji-size; }
.emojify.spaghetti { .background(spaghetti); background-size: @emoji-size; }
.emojify.curry { .background(curry); background-size: @emoji-size; }
.emojify.fried_shrimp { .background(fried_shrimp); background-size: @emoji-size; }
.emojify.bento { .background(bento); background-size: @emoji-size; }
.emojify.sushi { .background(sushi); background-size: @emoji-size; }
.emojify.fish_cake { .background(fish_cake); background-size: @emoji-size; }
.emojify.rice_ball { .background(rice_ball); background-size: @emoji-size; }
.emojify.rice_cracker { .background(rice_cracker); background-size: @emoji-size; }
.emojify.rice { .background(rice); background-size: @emoji-size; }
.emojify.ramen { .background(ramen); background-size: @emoji-size; }
.emojify.stew { .background(stew); background-size: @emoji-size; }
.emojify.oden { .background(oden); background-size: @emoji-size; }
.emojify.dango { .background(dango); background-size: @emoji-size; }
.emojify.egg { .background(egg); background-size: @emoji-size; }
.emojify.bread { .background(bread); background-size: @emoji-size; }
.emojify.doughnut { .background(doughnut); background-size: @emoji-size; }
.emojify.custard { .background(custard); background-size: @emoji-size; }
.emojify.icecream { .background(icecream); background-size: @emoji-size; }
.emojify.ice_cream { .background(ice_cream); background-size: @emoji-size; }
.emojify.shaved_ice { .background(shaved_ice); background-size: @emoji-size; }
.emojify.birthday { .background(birthday); background-size: @emoji-size; }
.emojify.cake { .background(cake); background-size: @emoji-size; }
.emojify.cookie { .background(cookie); background-size: @emoji-size; }
.emojify.chocolate_bar { .background(chocolate_bar); background-size: @emoji-size; }
.emojify.candy { .background(candy); background-size: @emoji-size; }
.emojify.lollipop { .background(lollipop); background-size: @emoji-size; }
.emojify.honey_pot { .background(honey_pot); background-size: @emoji-size; }
.emojify.apple { .background(apple); background-size: @emoji-size; }
.emojify.green_apple { .background(green_apple); background-size: @emoji-size; }
.emojify.tangerine { .background(tangerine); background-size: @emoji-size; }
.emojify.lemon { .background(lemon); background-size: @emoji-size; }
.emojify.cherries { .background(cherries); background-size: @emoji-size; }
.emojify.grapes { .background(grapes); background-size: @emoji-size; }
.emojify.watermelon { .background(watermelon); background-size: @emoji-size; }
.emojify.strawberry { .background(strawberry); background-size: @emoji-size; }
.emojify.peach { .background(peach); background-size: @emoji-size; }
.emojify.melon { .background(melon); background-size: @emoji-size; }
.emojify.banana { .background(banana); background-size: @emoji-size; }
.emojify.pear { .background(pear); background-size: @emoji-size; }
.emojify.pineapple { .background(pineapple); background-size: @emoji-size; }
.emojify.sweet_potato { .background(sweet_potato); background-size: @emoji-size; }
.emojify.eggplant { .background(eggplant); background-size: @emoji-size; }
.emojify.tomato { .background('tomato'); background-size: @emoji-size; }
.emojify.corn { .background(corn); background-size: @emoji-size; }